/* 검은 고딕 폰트 */
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
/* 나눔 고딕 폰트 */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400');

/* Font */
.custom-header { font-family: 'Black Han Sans', sans-serif; }
.custom-footer { font-family: 'Black Han Sans', sans-serif; }
.main * {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
}


/* header css */
.custom-header > .navbar > .container > .navbar-brand {
    font-size: xx-large;
}

.custom-header > .navbar > .container > .navbar-toggler > span > i {
    font-size: xx-large;
}

.custom-header > .navbar > .container > #offcanvasDarkNavbar > .offcanvas-body > .navbar-nav * {
    font-size: large;
}

#rightNavItem > .nav-item a {
    display: inline-block;            
}

#rightNavItem > .nav-item a i {
    font-size: x-large;         
}

/* header end */

/* loginPage css */
.loginFormPage {    
    background-color: lightgrey;
    border: 5px solid #212529;
    border-radius: 10px;
}

.loginFormPage > form > .btnList button {
    width: 250px;
}