/* 검은 고딕 폰트 */
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
/* 나눔 고딕 폰트 */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400');

/* Font */
.custom-header { font-family: 'Black Han Sans', sans-serif; }
.custom-footer { font-family: 'Black Han Sans', sans-serif; }
.main * {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
}
.titleBox {
    font-family: 'Black Han Sans', sans-serif;
    font-weight: 400;
}

/* common css */
hr {
    border: 0;
    height: 5px;
    background-color: black;
}

.testBox {
    border: 1px solid black;
}

/* header css */
.custom-header > .navbar > .container > .navbar-brand {
    font-size: xx-large;
}

.custom-header > .navbar > .container > .navbar-toggler > span > i {
    font-size: xx-large;
}

.custom-header > .navbar > .container > #offcanvasDarkNavbar > .offcanvas-body > .navbar-nav * {
    font-size: large;
}

#rightNavItem > .nav-item a {
    display: inline-block;            
}

#rightNavItem > .nav-item a i {
    font-size: x-large;         
}

/* header end */

/* loginPage css */
.loginFormPage {
    background-color: papayawhip;
    border: 5px solid #212529;
    border-radius: 10px;
}

.loginFormPage > form > .btnList button {
    width: 250px;
}
/* loginPage end*/

/* joinPage css */
.joinPage {
    background-color: papayawhip;
    border: 5px solid #212529;
    border-radius: 10px;
}

.joinPage > form > .btnList button {
    width: 250px;
}

#tel1, #tel2, #tel3 {
    border-radius: 0.375rem;
}

.telSpan, .birthSpan {
    border: none;
    background-color: papayawhip;
    font-weight: bold;    
}

.birthSelect {
    padding: 0.375rem 1rem 0.375rem 0.25rem;
    background-position: right 0.1rem center;
}

.policyBadge {
    text-decoration: none;
    color: inherit;
}

.policyBadge:hover {
    text-decoration: underline;
    color: inherit;
}